/* styles.css */

:root {
    --tiffany-color: #3dc2b5;
    --text-color: #78c7c0;
    --background-color: #f8f2f8;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    color: var(--tiffany-color);
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin: 20px 0;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--tiffany-color);
    transition: color 0.3s;
}

a:hover {
    color: #c895d7;
}

form {
    max-width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 2px solid var(--tiffany-color);
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: var(--tiffany-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c895d7;
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--text-color);
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: var(--tiffany-color);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
